{layout 'template/main.latte'}

{block title}My amazing blog{/block}

{include 'partials/header.latte'}

{block content}
<div class="container">
	<h1>Welcome to my awesome homepage.</h1>

	{include 'contact.latte'}
</div>


{/block}


{include 'partials/footer.latte'}
